body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #F8F9F3;
}

header,
footer,
section {
    display: block;
}
nav {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
.toolbar 
{
    margin-left: 0;
    position: fixed;
    z-index: 100;
    background: white;
    height: 60px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15), inset 0 -1px 4px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #CCC;
    width: 100%;
    top: 0;
    
}
.page {
    margin-left: 22px;
}
.lot-container-create 
{
    margin-left: 22px;
    position: relative;
    margin: 0 auto;
    border:solid #fff8dc
}
.lot-preview 
{
    margin-left: 22px;
    margin-top: 22px;
    border-radius: 4px 4px 4px 4px;
    padding-left: 10px;
    font-size: 0.80em;
    height: 150px;
    width: 150px;
    border: 1px solid #cccccc;
    background: #f8f9f3;
    display: inline-block;
}
.lot-container-main {
    margin-left: 30px;
    
}
.content {
    padding: 60px 0px;
    width: 800px;
    border: 1px solid #CCC;
    background: white;
    margin: 0 auto;
}
.container {
    height: 100%;
    width: 800px;
    position: relative;
    margin: 0 auto;
    
}
fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.input-validation-valid 
{
    
    color: lightskyblue;
}
.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
ul#menu 
{
    left: 200px;
    position: absolute;
    width: 400px;
    height: 40px;
    
}

ul#menu li {
    display: inline;
    list-style: none;
    margin-right: 2%;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #232323;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}
#title {
    position: absolute;
    float: left;
    width: 200px;
    height: 50px;
    bottom: 17px;
    padding: 0;
    margin: 0;
    border: none;
}
#logindisplay 
{
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
}