@model dynamic

@{
    ViewBag.Title = "Password changed";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div>
    <span style="width: 200px; margin: 0 auto;">Password succesfuly changed.</span>
</div>
