@model dynamic

@{
    ViewBag.Title = "Edit profile";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div style="margin-left: 25px">
        @Html.ActionLink("Change password","ChangePassword","Account", null, new{ @class="btn btn-info"})
    </div>
}
