@model OnlineAuction.Buisness.Models.Account.RestorePasswordModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_mainLayout.cshtml";

}

<h2>Restore your password</h2>
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Enter your email</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <p>
                <input type="submit" value="Restore" />
            </p>
        </fieldset>

    </div>
}
