@model OnlineAuction.Buisness.Models.Home.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>@ViewBag.Message</h2>
<div>
    @{
       if (Context.User.IsInRole("admin"))
       {
           <h2>Hello, admin</h2>
       }
    }
</div>
@foreach (var lot in Model.Lots)
{
    @Html.Partial("_lotPartial", lot);
}

