@using System.Activities.Expressions
@using System.Activities.Statements
@model OnlineAuction.Buisness.Models.Lot.CommentViewModel

<div>
    @if (Model.IsApproved)
    {
        <div class="panel panel-comment"></div>
    }
    else
    {
        
    <div class="panel panel-banned-comment"></div>
    }
    posted on <time>@Model.CommentDate</time> by <strong>@Html.ActionLink(Model.Username, "Profile", "Account", new { username = Model.Username }, null)</strong>
     @if (Context.User.IsInRole("admin") && !Model.IsApproved)
            {
                @Html.ActionLink("[Ban comment]", "BanComment", "Lot", Model, null)
            }
    <p>
    @if (Model.IsApproved)
    {
        @Model.CommentText
    }
    else
    {
        <text>Deleted by administrator</text>
    }
</div>

