@using OnlineAuction.Buisness.Models.Account

<div>
@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@Html.ActionLink(User.Identity.Name,"Profile","Account",new UserProfileViewModel{Name = User.Identity.Name},null)</strong>!
    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Log On", "LogOn", "Account",Request.Url, null) ]
}
</div>
